---
---

@import url(lib/bootstrap/bootstrap.min.css);
@import "base";

@font-face{
  font-family: 'MyriadProSemibold';
  src: 	url("../font/MyriadProSemibold.eot");
  src: 	local("MyriadProSemibold"),
  			url("../font/MyriadProSemibold.woff") format("woff"),
  			url("../font/MyriadProSemibold.ttf") format("truetype");
}

html{
  	min-height: 100%;
}
body{
	color: $base-color;
	font-family: 'Roboto', sans-serif;
	background-color: $light-bg;
}

/**
 * Section Intro
 */
#section-headline{
	position: relative;
	text-align: left;
	background-color: $light-bg;
}

/**
 * Section Slideshow
 */
#section-slideshow{
	background-color: $dark-bg;
	color: $white-color;
}

#section-headline, #section-feature-highlights {
	padding-top: 50px;
	padding-bottom: 50px;
}

/**
 * Section Features
 */
#section-feature-highlights{
  	background-color: white;
}
#section-feature-details{
	background-color: white;

}
.what-we-do-features{
	text-align: center;
}

/**
 * Section Download
 */
#section-download{
	background-color: $light-bg;
}

/**
 * Section Community
 */
#section-community{
	background-color: $dark-bg;
	color: $white-color;
}

/**
 * Section Events
 */
#section-events{

}

/**
 * Section Quotes
 */
#section-quotes{
	background-color: $white-color;
}
}
