---
---

@import url(lib/bootstrap/bootstrap.min.css);
@import "base";

@font-face{
  font-family: 'MyriadProSemibold';
  src: 	url("../font/MyriadProSemibold.eot");
  src: 	local("MyriadProSemibold"),
  			url("../font/MyriadProSemibold.woff") format("woff"),
  			url("../font/MyriadProSemibold.ttf") format("truetype");
}

html{
  min-height: 100%;
}
body{
	color: $base-color;
	font-family: 'Roboto', sans-serif;
}
a{
	color: $link-color;
	transition: all 200ms linear 0s;

	&:hover,
	&:focus,
	&:active{
		color: $link-hover-color;
		text-decoration: none;
	}
}
.btn{
	cursor: pointer;
}
.img-responsive{
  display: block;
  height: auto;
  max-width: 100%;
}
.logo {
  max-width: 200px;
}
section {
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/**
 * Titles
 */
h1,
h2{
	color: $title-color;
	font-family: 'MyriadProSemibold';
}
h1{
  font-size: 4rem;
  margin-bottom: 30px;
  text-align: center;

	@media(max-width: 640px){
    font-size: 2rem;
	}
	+ hr{
	  border-color: #454545 #454545 -moz-use-text-color;
	  border-image: none;
	  border-style: solid solid none;
	  border-width: 1px 1px 0;
	  box-sizing: content-box;
	  margin: 0 auto 30px;
	  height: 0;
	  width: 96px;
	}
}
h2{
  font-size: 2.8rem;
  font-weight: 100;
  margin-bottom: 40px;
  text-align: center;

	@media(max-width: 640px){
    font-size: 1.8rem;
	}
	+ hr{
	  border-color: #454545 #454545 -moz-use-text-color;
	  border-image: none;
	  border-style: solid solid none;
	  border-width: 1px 1px 0;
	  box-sizing: content-box;
	  margin: 0 auto 50px;
	  height: 0;
	  width: 96px;
	}
}
h3{
  font-size: 1.5rem;
  text-align: center;
}

/**
 * Buttons
 */
.btn{
	transition: all 200ms linear 0s;
}
.btn-group-lg > .btn + .dropdown-toggle-split,
.btn-lg + .dropdown-toggle-split{
  margin-left: -28px;
}
.btn-dl{
	padding-bottom: 18px;
	position: relative;

	&.btn-primary{
		padding-bottom: 20px;
	}
	.tiny-text{
		display: inline-block;
		font-size: 0.7rem;
		position: absolute;
			bottom: 3px;
			right: 0;
			left: 0;
		text-align: center;
	}
}
.btn-primary{
	background-color: $btn-default-bg;
	border-color:  $btn-default-bg;
	color: $btn-default-color;

	&:hover,
	&:focus,
	&:active{
		background-color: $btn-default-hover-bg;
		border-color:  $btn-default-hover-bg;
		box-shadow: none;
		color: $base-dark-bg-color;
	}
}
.btn-inverted{
	background-color: $btn-dark-bg;
	color: $btn-dark-color;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;

	&:hover,
	&:focus,
	&:active{
		background-color: $btn-dark-hover-bg;
		color: $btn-dark-color;
	}
}

/**
 * Section Intro
 */
#section-headline{
	position: relative;
	text-align: center;

	.btn{
		margin-top: 40px;

		> .fa{
			margin-right: 8px;
		}
	}
	h2{
		font-family: 'Roboto', sans-serif;
	}
}

/**
 * Section Slideshow
 */
#section-slideshow{

  background-color: white;
}

/**
 * Section Features
 */
#section-features1{
  background-color: $lighter-bg;
}
#section-features2{

}
.what-we-do-features{
	text-align: center;
}

/**
 * Section Download
 */
#section-download{
    background-color: $lighter-bg;
	text-align: center;

	.img-responsive{
		margin: 0 auto;
	}
	.production-table{
		border-collapse: separate;

		thead{

			.community{
		    background: $main-color;
    		color: $base-dark-bg-color;
			}
	    .enterprise{
		    background: $dark-bg;
    		color: $base-dark-bg-color;
    	}
		}
		.item-title{
			text-align: left;
		}
		.btn-community{
			background: $btn-community-bg;
			color: $btn-community-color;

			&:hover,
			&:focus,
			&:active{
				background: $btn-community-hover-bg;
			}
		}
		.btn-enterprise{
			background: $btn-enterprise-bg;
			color: $btn-enterprise-color;
			padding-top: 15px;
			padding-bottom: 15px;

			&:hover,
			&:focus,
			&:active{
				background: $btn-enterprise-hover-bg;
			}
		}
		.action{
			text-align: center;

			.fa{
				margin-right: 8px;
			}
			> span{
				display: inline-block;
				font-size: .9rem;
				margin-top: 15px;
				width: 100%;
			}
		}
	}
	.dropdown-toggle:focus{
    box-shadow: none;
	}
	.dropdown-menu{
		padding: 0;

		table{
			
			thead th.build-header{
				font-weight: 500;
			}
			tbody tr{
				background-color: transparent;

				&:nth-child(odd){
					background-color: rgba(0, 0, 0, 0.05);
				}
				&:nth-child(even){
					background-color: #fff;
				}
			}
			td{
				text-align: center;

				.fa{

					&.stable{
						color: $btn-primary-bg;
					}
					&.preview{
						color: $base-color;
					}
				}
				&.os{
					font-weight: 500;
					text-align: left;
				}
			}
		}
	}
}

/**
 * Section What's new
 */
#section-news{
 
}

/**
 * Section Community
 */
#section-mailing{
	background-color: $darker-bg;
	color: $base-dark-bg-color;
	padding-bottom: 50px;
	position: relative;

	h2{
	  color: $base-dark-bg-color;

		+ hr{
		  border-color: $base-dark-bg-color $base-dark-bg-color -moz-use-text-color;
		}
	}
}
.mailing{
	margin: 3.4rem 0 1rem;
	text-align: center;

	@media(max-width: 640px){
		margin: 0 0 40px;
	}
	input{
		color: #c3c3c3;
		text-align: center;
	}
	form{
		padding-right: 107px;
    position: relative;
	}
	#ml-name{
		background: #fff url("../img/nl-shadow.png") repeat-y right top;
		border: none;
		border-right: 2px solid $input-bd;
		border-radius: 4px 0 0 4px;
		padding-left: 10px;
		height: 48px;
		width: 100%;
	}
	#ml-email{
		background-color: $input-bg;
		border: none;
		border-radius: 0;
		margin-left: -5px;
		padding-left: 10px;
		height: 48px;
		width: 30%;
	}
	#ml-go{
		background: $main-color;
		border: 1px solid $main-color;
		border-radius: 0 4px 4px 0;
		color: $base-dark-bg-color;
		cursor: pointer;
		font-size: 1.2rem;
		line-height: 48px;
		margin-left: -5px;
		padding: 0 10px;
		position: absolute;
			top: 0;
			right: 0;
		height: 48px;
		transition: all 200ms linear 0s;

    &:hover,
    &:focus{
    	background: $secondary-color;
    	border: 1px solid $secondary-color;
      color: $base-dark-bg-color;
    }
	}
}
.community-link{
	color: $main-color;
	display: inline-block;
	margin-bottom: 20px;
	width: 100%;

  &:hover,
  &:focus,
  &:active{
    color: $base-dark-bg-color;
  }
	.fa{
		font-size: 35px;
		margin-right: 10px;
	}
  &.highlighted-link{
    border-radius: 4px;
    box-shadow: 0 0 0 1px $main-color inset;
    margin-left: 10px;
    width: auto;

    .btn{
    	padding: 0.5rem 0.7rem;
    }
    &:hover,
    &:focus,
    &:active{
      box-shadow: 0 0 0 1px $base-dark-bg-color inset;
    }
  }
}
@media(max-width: 1199px){

	.community-text{
		text-align: center;
	}
	.community-link.highlighted-link{
		margin-top: 20px;
	}
}

/**
 * Section Events
 */
#section-events{

}

/**
 * Section Customers
 */
#section-customers{
	background-color: $lighter-bg;

	.carousel{
    margin-bottom: 50px;
	}
	.carousel-control-prev-icon{
	  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%212121' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	}
	.carousel-control-next-icon{
	  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%212121' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	}
	.carousel-indicators{
    bottom: -60px;

    li{
    	background-color: rgba(0, 0, 0, 0.2);
		}
		.active{
			background-color: rgba(0, 0, 0, 0.8);
		}
  }
	.carousel-inner{
    margin: 0 auto;
    width: 80%;
	}
	.quote-container{
		//border: 1px solid #dfdfdf;
		border-radius: 5px;
		width: 100%;
	}
	.review-quote{
		background: #fff;
		color: #6d6d6d;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px 20px 32px 45px;
    position: relative;

		.fa-quote-left{
	    color: #f2f2f2;
	    font-size: 30px;
	    position: absolute;
		    left: 12px;
		    top: 15px;
		  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
		}
		p{
	    font-size: 17px;
	    line-height: 24px;
	    text-align: center;
		}
	}
	.review-img{
    position: absolute;
  		right: 24px;
  		bottom: 10px;

		img{
	    border: 7px solid #fff;
	    border-radius: 100%;
	    //box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	    transition: all 0.3s ease 0s;
	    height: 100px;
	    width: 100px;

	    &:hover{
				border: 5px solid $main-color;
				box-shadow: none;
				transform: scale(1.05);
			}
		}
	}
	.review-author{
		background: #f8f7f7;
		border-top: 1px solid #dfdfdf;
    font-size: 14px;
		padding: 20px 110px 20px 15px;
		position: relative;
		height: 80px;

		&:before{
	    background: #fff;
	    content: "";
	    height: 1px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
		}

		a{
	    color: #212121;
	    cursor: pointer;
	    display: inline-block;
	    font-weight: bold;
	    text-decoration: none;

	    &:hover,
	    &:focus{
				color: $main-color;
			}
    }
    span{
    	color: #595959;
    	display: inline-block;
    	width: 100%;
    }
	}
}

/**
 * Parallax section
 */


/**
 * Footer
 */
#footer{
	background-color: $footer-bg;
	color: $footer-color;
	font-size: 0.82rem;
	overflow: hidden;
	padding: 1rem 0 0;

	@media (max-width: 768px){
		background-color: #fff;
		color: $base-light-bg-color;
		padding: 3px 0;
	}

	a{
		color: $footer-link-color;

		@media (max-width: 640px){
			color: $base-light-bg-color;
		}

		&:hover,
		&:focus,
		&:active{
			color: $main-color;
		}
	}
	h3{
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 0 15px;
    text-align: left;
    text-transform: uppercase;

  	@media (max-width: 640px){
  		margin: 0;
		font-weight: 400;
		font-size: 0.8rem;
  	}		
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;

		@media (max-width: 640px){
    	
    	> li{
    		padding: 5px 0;
    	}
    }
	}
	.card-block{
    padding: 0.5rem 0 1rem;
	}
	.secondary-footer{
    background-color: $secondary-footer-bg;
    clear: both;
    height: 3.125rem;
    margin-top: 1rem;
    min-height: 3.125rem;
    overflow: hidden;

		@media (max-width: 768px){
    	background-color: $secondary-footer-mb-bg;
    	margin-top: 0;
    }
	}
	.footer-logo{
		float: left;
		margin: 12px 0 0;
		max-width: 28px;

		@media (max-width: 640px){
    	margin-top: 15px;
    }
	}
  .footer-social-links{
		float: right;
		list-style-type: none;
		margin: 15px 0 0 30px;
		padding: 0;

		@media (max-width: 640px){

    }
		@media (min-width: 992px){
    	margin-right: 70px;
    }

		> li{
			display: inline-block;
			margin: 0 4px;

			.fa{
				font-size: 1.2rem;
			
				@media (max-width: 640px){
					color: $secondary-footer-mb-link-color;
				}
			}
		}

		@media (max-width: 640px){
			margin-bottom: 20px;
		}
  }

  @media (max-width: 767px){

  	.container-accordion{
			padding-right: 0;
			padding-left: 0;
  	}
		#accordion{

			> .card{
		    background-color: transparent;
		    border: none;
		    border-top: 1px solid rgba(0, 0, 0, 0.09);
		    border-radius: 0;
		  }
			.card-header{
		    background-color: transparent;
		    border-bottom: none;
		    margin-bottom: 0;
		    padding: 0;

		    h3{
		    	padding: 1rem 1.25rem;
		    }
			}
			.card-block{

				h3.hidden-xs-down + ul{
					margin-left: 20px;
				}
			}
		}
	}
  @media (min-width: 768px){

		#accordion{
			margin: 0 auto;
	    max-width: 100%;
	    width: 1140px;

			> .card{
		    background-color: transparent;
		    border: none;
		    border-radius: 0;
		    float: left;
		    width: 20%;
			}
			.card-header{
				display: none;
			}
			.collapse{
    		display: block;
			}
		}
  }
}