---
---

@import url(lib/bootstrap/bootstrap.min.css);
@import "base";

@font-face{
  font-family: 'MyriadProSemibold';
  src: 	url("../font/MyriadProSemibold.eot");
  src: 	local("MyriadProSemibold"),
  			url("../font/MyriadProSemibold.woff") format("woff"),
  			url("../font/MyriadProSemibold.ttf") format("truetype");
}

html{
  	min-height: 100%;
}
body{
	color: $base-color;
	font-family: 'Roboto', sans-serif;
	background-color: $light-bg;
}
a{
	color: $link-color;
	transition: all 200ms linear 0s;

	&:hover,
	&:focus,
	&:active{
		color: $link-hover-color;
		text-decoration: none;
	}
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.btn{
	cursor: pointer;
}
.img-responsive{
  display: block;
  height: auto;
  max-width: 100%;
}
.img-fluid {
	margin-bottom: 20px;
}
.logo {
  max-width: 200px;
}
section {
  min-height: 200px;
  padding-top: 90px;
  padding-bottom: 90px;
}

.highlighted {
	color: $highlighted-color-transition;
}

strong {
	font-weight: 500;
}
/**
 * Titles
 */
h1, h2 {
    color: $title-color;
    font-family: 'MyriadProSemibold';
}
h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    @media(max-width:640px) {
        font-size: 2rem;
    }
}
h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    @media(max-width:640px) {
        font-size: 1.8rem;
    }
    &.with-legend {
        margin-bottom: 0;
    }
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}
p.title-legend {
    padding: 0;
    margin-bottom: 40px;
    line-height: 25px;
    font-size: 80%;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    &, a {
        color: $base-light-color;
    }
    a {
        text-decoration: underline;
    }
}
/**
 * Section Intro
 */
#section-headline{
	position: relative;
	text-align: left;
	background-color: $light-bg;
}

/**
 * Section Slideshow
 */
#section-slideshow{
	background-color: $light-bg;
}

#section-headline, #section-feature-highlights {
	padding-top: 50px;
	padding-bottom: 50px;
}

/**
 * Section Features
 */
#section-feature-highlights{
  	background-color: white;
	img {
		max-height: 40px;
	}
}
#section-feature-details{
	background-color: white;

}
.what-we-do-features{
	text-align: center;
}

/**
 * Section Download
 */
#section-download{
	background-color: $light-bg;
}

/**
 * Section Community
 */
#section-mailing{
	background-color: $darker-bg;
	color: $white-color;
	padding-bottom: 50px;
	position: relative;

	h2{
	  color: $white-color;
	}
}
.mailing{
	margin: 3.4rem 0 1rem;
	text-align: center;

	@media(max-width: 640px){
		margin: 0 0 40px;
	}
	input{
		color: $input-color;
		text-align: center;
	}
	form{
		padding-right: 107px;
    position: relative;
	}
	#ml-name{
		background: $white-color url("../img/nl-shadow.png") repeat-y right top;
		border: none;
		border-right: 2px solid $input-bd;
		border-radius: 4px 0 0 4px;
		padding-left: 10px;
		height: 48px;
		width: 100%;
	}
	#ml-email{
		background-color: $input-bg;
		border: none;
		border-radius: 0;
		margin-left: -5px;
		padding-left: 10px;
		height: 48px;
		width: 30%;
	}
	#ml-go{
		background: $main-color;
		border: 1px solid $main-color;
		border-radius: 0 4px 4px 0;
		color: $white-color;
		cursor: pointer;
		font-size: 1.2rem;
		line-height: 48px;
		margin-left: -5px;
		padding: 0 10px;
		position: absolute;
			top: 0;
			right: 0;
		height: 48px;
		transition: all 200ms linear 0s;

    &:hover,
    &:focus{
    	background: $secondary-color;
    	border: 1px solid $secondary-color;
      color: $white-color;
    }
	}
}
.community-link{
	color: $main-color;
	display: inline-block;
	margin-bottom: 20px;
	width: 100%;

  &:hover,
  &:focus,
  &:active{
    color: $white-color;
  }
	.fa{
		font-size: 35px;
		margin-right: 10px;
	}
  &.highlighted-link{
    border-radius: 4px;
    box-shadow: 0 0 0 1px $main-color inset;
    margin-left: 10px;
    width: auto;

    .btn{
    	padding: 0.5rem 0.7rem;
    }
    &:hover,
    &:focus,
    &:active{
      box-shadow: 0 0 0 1px $white-color inset;
    }
  }
}
@media(max-width: 1199px){

	.community-text{
		text-align: center;
	}
	.community-link.highlighted-link{
		margin-top: 20px;
	}
}

/**
 * Section Events
 */
#section-events{

}

/**
 * Section Quotes
 */
#section-quotes{
	background-color: $white-color;
}

/**
 * Events
 */
.event-list{
	list-style-type: none;
	margin: 0;
	padding: 0;

	> li{
		clear: both;
		margin: 0 0 15px;
		overflow: hidden;
		width: 100%;
	}
	.fa{
		color: $main-color;
		float: left;
		font-size: 52px;
		position: relative;

		.month{
			font-family: "Roboto",sans-serif;
			font-size: 12px;
			position: absolute;
				top: 18px;
				left: 4px;
				right: 4px;
			text-align: center;
		}
		.day{
			font-family: "Roboto",sans-serif;
			font-size: 19px;
			position: absolute;
				top: 28px;
				left: 1px;
				right: 4px;
			text-align: center;
		}
	}
	a{
		display: inline-block;
		float: left;
		margin-left: 15px;
		position: relative;
			top: 4px;
		width: 80%;
	}
	.event-title{
		color: $title-color;
		display: inline-block;
		transition: all 200ms linear 0s;
		width: 100%;

		&:hover,
		&:focus,
		&:active{
			color: $main-color;
		}
	}
	.event-subtitle{
		color: $event-subtitle-color;
		display: inline-block;
		width: 100%;
	}
}

/**
 * Footer
 */
#footer{
	background-color: $footer-bg;
	color: $footer-color;
	font-size: 0.82rem;
	overflow: hidden;
	padding: 3rem 0 0;

	@media (max-width: 768px){
		background-color: #fff;
		color: $base-light-bg-color;
		padding: 0;
	}

	a{
		color: $footer-link-color;

		@media (max-width: 640px){
			color: $base-light-bg-color;
		}

		&:hover,
		&:focus,
		&:active{
			color: $main-color;
		}
	}
	h3{
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 0 15px;
    text-align: left;
    text-transform: uppercase;

  	@media (max-width: 640px){
  		margin: 0;
		font-weight: 400;
		font-size: 0.8rem;
  	}		
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		@media (max-width: 768px){
			& {
				padding-left: 1.25rem;
			}
		}
		@media (max-width: 640px){ 	
			> li{
				padding: 5px 0;
			}
    	}
	}
	.card-block{
    padding: 0 0 3rem 0;
	}
	.secondary-footer{
    background-color: $secondary-footer-bg;
    clear: both;
    height: 3.125rem;
    margin-top: 1rem;
    min-height: 3.125rem;
    overflow: hidden;

		@media (max-width: 768px){
    	background-color: $secondary-footer-mb-bg;
    	margin-top: 0;
    }
	}
	.footer-logo{
		float: left;
		margin: 12px 0 0;
		max-width: 28px;

		@media (max-width: 640px){
    	margin-top: 15px;
    }
	}
  .footer-social-links{
		float: right;
		list-style-type: none;
		margin: 15px 0 0 30px;
		padding: 0;

		@media (min-width: 768px){
			margin-right: 8px;
    }
		@media (min-width: 992px){
    		margin-right: 95px;
    }

		> li{
			display: inline-block;
			margin: 0 4px;

			.fa{
				font-size: 1.2rem;
			
				@media (max-width: 640px){
					color: $secondary-footer-mb-link-color;
				}
			}
		}

		@media (max-width: 640px){
			margin-bottom: 20px;
		}
  }

  @media (max-width: 768px){

	.container {
		width: 100%;
	}

  	.container-accordion{
			padding-right: 0;
			padding-left: 0;
  	}
		#accordion{

			> .card{
		    background-color: transparent;
		    border: none;
		    border-top: 1px solid rgba(0, 0, 0, 0.09);
		    border-radius: 0;
		  }
			.card-header{
		    background-color: transparent;
		    border-bottom: none;
		    margin-bottom: 0;
		    padding: 0;

		    h3{
		    	padding: 1rem 1.25rem;
				margin: 0;
		    }
			}
			.card-block{

				h3.hidden-xs-down + ul{
					margin-left: 20px;
				}
			}
		}
	}
  @media (min-width: 768px){

		#accordion{
			margin: 0 auto;
	    max-width: 100%;
	    width: 1140px;

			> .card{
		    background-color: transparent;
		    border: none;
		    border-radius: 0;
		    float: left;
		    width: 20%;
			}
			.card-header{
				display: none;
			}
			.collapse{
    		display: block;
			}
		}
  }
}