// Height of each strips, for top to bottom
$height-1: 6px;
$height-2: 43px;
$height-3: 7px;
$height-4: 52px;
$height-5: 20px;
$height-6: 80px;
$height-7: 134px;

#strips, #strips span {
    position: absolute;
}

#strips span {
    right: 0;
}

#strips {
    width: 1920px;
    height: 341px;
    right: 0;
    overflow: hidden;
    transform: skewY(-8deg);
    transform-origin: 0;
    background-color: white;
    top: 470px;
    @media (max-width: 992px){
        & {
            top: 544px;
        }
    }
}

#section-slideshow, #section-feature-highlights, #section-feature-details {
    position: relative;
    z-index: 10;
}

#strips :nth-child(1) {
    width: 100%;
    height: $height-2;
    top: $height-1;
    background: $main-color;
}

#strips :nth-child(2) {
    width: 100%;
    height: $height-3;
    top: $height-1 + $height-2;
    background: $main-color-transition;
}

#strips :nth-child(3) {
    width: 100%;
    height: $height-4;
    top: $height-1 + $height-2 + $height-3;
    background: $light-bg;
}

#strips :nth-child(4) {
    width: 100%;
    height: $height-5;
    top: $height-1 + $height-2 + $height-3 + $height-4;
    background: $light-bg-transition;
}

#strips :nth-child(5) {
    width: 100%;
    height: $height-6;
    top: $height-1 + $height-2 + $height-3 + $height-4 + $height-5;
    background: $highlighted-color;
}

#strips :nth-child(6) {
    width: 100%;
    height: $height-7;
    top: $height-1 + $height-2 + $height-3 + $height-4 + $height-5 + $height-6;
    background: $highlighted-color-transition;
}