/**
 * Color
 */
$white-color: white;
$base-color: #212121;
$base-light-color: #9ab3c5;
$main-color: #FFC600;
$main-color-transition: #F9B50F;
$secondary-color: #EC5C09;
$variant-color: #E93434;
$highlighted-color: #00D5AC;
$highlighted-color-transition: #2EBCA1;

/**
 * Background
 */
$dark-bg: #232A33;
$dark-bg-transition: #363f4b;
$darker-bg: #2c2c2c;
$light-bg: #f0f4f7;
$light-bg-transition: #DBE4EB;
$light-bg-transition-variant: #f8f7f7;
$light-bg-color: #8a8b8c;
$highlighted-bg: #00D5AC;

/**
 * Buttons and links
 */
$btn-vav-color: #253039;
$btn-default-bg: #ffc600;
$btn-default-hover-bg: #fbbd00;
$btn-default-color: #fff;

$btn-primary-bg: #00D5AC;
$btn-primary-color: #fff;

$btn-secondary-bg: transparent;
$btn-secondary-dark-bd: #212121;

$btn-secondary-light-bd: #DCDCDC;
$btn-secondary-lighter-bd: #fff;

$btn-dark-bg: #212121;
$btn-dark-hover-bg: #4a4949;
$btn-dark-color: #fff;

$link-color: #188CBA;
$link-hover-color: #2fb0e3;
$secondary-link-color: #FFC600;
$secondary-link-hover-color: #fbbd00;

/**
 * Misc
 */
$input-bg: #fff;
$input-bd: #ebebeb;
$input-color: #c3c3c3;

$table-odd: rgba(0, 0, 0, 0.05);
$table-even: #fff;


