$link-color: #188CBA;
$link-hover-color: #2fb0e3;
$secondary-link-color: #FFC600;
$secondary-link-hover-color: #fbbd00;

$title-color: #212121;

$base-color: #212121;
$main-color: #FFC600;
$secondary-color: #EC5C09;
$variant-color: #E93434;
$highlighted-color: #00D5AC;

$dark-bg: #232A33;
$darker-bg: #2c2c2c;
$light-bg: #f0f4f7;
$light-bg-color: #8a8b8c;
$lighter-bg: #f0f2f3;
$highlighted-bg: #00D5AC;
$highlighted-bg-color: #fff;
$footer-bg: #232A33;
$footer-color: #fff;
$footer-link-color: #727e8d;
$secondary-footer-bg: #363f4b;
$secondary-footer-mb-bg: rgba(0, 0, 0, 0.05);
$secondary-footer-mb-link-color: #aaa;

$base-dark-bg-color: #fff;
$secondary-dark-bg-color: #859bb7;

$base-light-bg-color: #212121;
$secondary-light-bg-color: #555555;

$btn-vav-color: #253039;
$btn-default-bg: #ffc600;
$btn-default-hover-bg: #fbbd00;
//$btn-default-hover-bg: #232A33;
$btn-default-color: #fff;

$btn-primary-bg: #00D5AC;
$btn-primary-color: #fff;

$btn-secondary-bg: transparent;
$btn-secondary-dark-bd: #212121;
$btn-secondary-light-bd: #DCDCDC;
$btn-secondary-lighter-bd: #fff;

$input-bg: #fff;
$input-bd: #ebebeb;

$highlighted-item-mobile: #1d2229;;