<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
  integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
  crossorigin="anonymous"></script>
<script src="js/layout.js"></script>
<script src="js/lib/typed/typed.min.js"></script>
<script src="js/main.js"></script>
<script type='text/javascript' src='js/jquery.gifplayer.js'></script>
<script>
    $('.gif').gifplayer({label: '►', wait: true});
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
        $(document).ready(function(){
            var stepsTitle = [
                '<i class="fa fa-magic" aria-hidden="true"></i> Templates',
                '<i class="fa fa-cog" aria-hidden="true"></i> Setup',
                '<i class="fa fa-database" aria-hidden="true"></i> Data model',
                '<i class="fa fa-laptop" aria-hidden="true"></i> Web app',
                '<i class="fa fa-mobile" aria-hidden="true"></i> Mobile app'
            ];
            $('.slides').slick({
                dots: true,
                customPaging : function(slider, i) {
                    return '<span>'+stepsTitle[i]+'</span>';
                },
                appendDots: "#dots"
            });
            $(".slick-dots").append('<li class="secondary"><span><a href="#announcement">Next steps »</a></span></li>');
        });
</script>